@import "tailwindcss";

@theme inline {
  --color-suns-orange: #E56020;
  --color-suns-purple: #1D1160;
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
